.MyMenu {
  position: absolute;
  background-color: #0000006b;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  /* padding-top: 20px; */
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .MyMenu {
    left: 1;
    right: 0;
    margin-top: 50px;
    font-size: small !important;
  }
}
