.background-image {
  background-image: url("../../../assets/images/close-up-delicious-chicken-meal.jpg"); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  filter: blur(6px);
  padding: 0;
  opacity: 0.8;
}

.background-image-2 {
  background-image: url("../../../assets/images/close-up-delicious-chicken-meal.jpg"); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  inset: 0;
}
.dark-overlay-2 {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  inset: 0;
}

.header-column .content {
  max-width: 600px;
  .menu {
    background-color: #0000006b;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
