@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.federo-regular {
  font-family: "Federo", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-style: normal;
}
